@model FoodOrder.Models.Check

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Check</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @{
                    Model.OrderId = Model.Order.Id;
                }

                <input asp-for="OrderId" hidden/>
                <label class="form-control-plaintext">Total: @Html.DisplayFor(o => o.Order.TotalPrice)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Payment method</label>
                <select asp-for="PaymentId" class ="form-control" asp-items="ViewBag.PaymentId"></select>
            </div>
            <div class="form-group">
                <partial name="_CreateAndBackToListButtons"/>
            </div>
        </form>
    </div>
</div>



