@model FoodOrder.Models.OrderItem

@{
    ViewData["Title"] = "Create";
}


<h1>Add product to order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayFor(o=>o.Product.Name)
                <input asp-for="ProductId" hidden/>
            </div>
            <div class="form-group">
                @Html.DisplayFor(o=>o.Product.Price)
                <input asp-for="OrderId" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" min="1" value="1" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-6">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-success form-control">Back to list</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
